<header class="header">
  <div class="header-content">
    {{#link "help_center"}}
      <div class="logo header-button">
        <img
          src="{{asset "logo.png"}}"
          alt="{{t "home_page" name=help_center.name}}"
          class="hide-desktop"
        />
        <img
          src="{{asset "logo-horizontal.png"}}"
          alt="{{t "home_page" name=help_center.name}}"
          class="hide-mobile"
        />
      </div>
    {{/link}}
    <div class="show-search header-button" id="show-search">
      <img src="{{asset "search.png"}}" alt={{t "search"}} />
    </div>
  </div>
</header>
<navigation class="content navigation">
  <section class="inner-content">
    <div class="back-button hide-desktop" id="back-button">
      <img
        src="{{asset "back-arrow.png"}}"
        alt="{{t "home_page" name=help_center.name}}"
      />
    </div>
    <div class="hide-mobile">
      {{breadcrumbs}}
    </div>
  </section>
</navigation>
<div class="content">
  {{#with category}}
    <section class="inner-content category" data-category-id="{{id}}">
      <h2>{{t "topics"}}</h2>
      <ul class="list blocks">
        {{#each sections}}
          <li>
            <a href="{{url}}">
              <div class="block-icon">
                <img
                  src="{{asset id suffix=".png"}}"
                  alt="{{name}}"
                  onerror="this.src='{{asset "360005487959.png"}}'"
                />
              </div>
              <span class="block-title">{{name}}</span>
            </a>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/with}}
</div>