<header class="header blue">
  <div class="header-content">
    {{#link "help_center"}}
      <div class="logo header-button">
        <img
          src="{{asset "logo.png"}}"
          alt="{{t "home_page" name=help_center.name}}"
          class="hide-desktop"
        />
        <img
          src="{{asset "logo-horizontal.png"}}"
          alt="{{t "home_page" name=help_center.name}}"
          class="hide-mobile"
        />
      </div>
    {{/link}}
  </div>
  <div class="search">
    <div class="content">
      <h1>{{dc "hc_search_title"}}</h1>
      <p>{{dc "hc_search_subtitle"}}</p>
      {{search submit=true instant=settings.instant_search class="search-form"}}
    </div>
  </div>
</header>
<div class="content promoted-articles">
  <section class="inner-content">
    <h2>{{t "promoted_articles"}}</h2>
    <ul class="list">
      {{#each promoted_articles}}
        <li>
          <a href="{{url}}">
            {{title}}
          </a>
        </li>
      {{/each}}
    </ul>
  </section>
</div>
<ul class="categories">
  {{#each categories}}
    <li class="category-button" data-category-id="{{id}}">{{name}}</li>
  {{/each}}
</ul>
<div class="content">
  {{#each categories}}
    <section class="inner-content category" data-category-id="{{id}}">
      <h2>{{t "topics"}}</h2>
      <ul class="list blocks">
        {{#each sections}}
          <li>
            <a href="{{url}}">
              <div class="block-icon">
                {{! Buyer icons }}
                {{#is id 360005487979}}
                  <img src="{{asset "icon-my-wardrobe.png"}}" alt="{{name}}" />
                {{else}}
                  {{#is id 360005487999}}
                    <img
                      src="{{asset "icon-getting-started.png"}}"
                      alt="{{name}}"
                    />
                  {{else}}
                    {{#is id 360005448420}}
                      <img
                        src="{{asset "icon-parcel-received.png"}}"
                        alt="{{name}}"
                      />
                    {{else}}
                      {{#is id 360005488019}}
                        <img src="{{asset "icon-paying.png"}}" alt="{{name}}" />
                      {{else}}
                        {{#is id 360005448440}}
                          <img
                            src="{{asset "icon-cancellation.png"}}"
                            alt="{{name}}"
                          />
                        {{else}}
                          {{#is id 360005488059}}
                            <img
                              src="{{asset "icon-my-wardrobe.png"}}"
                              alt="{{name}}"
                            />
                          {{else}}
                            {{#is id 360005448460}}
                              <img
                                src="{{asset "icon-getting-started.png"}}"
                                alt="{{name}}"
                              />
                            {{else}}
                              {{#is id 360005448480}}
                                <img
                                  src="{{asset "icon-return.png"}}"
                                  alt="{{name}}"
                                />
                              {{else}}
                                {{#is id 360005488079}}
                                  <img
                                    src="{{asset "icon-paying.png"}}"
                                    alt="{{name}}"
                                  />
                                {{else}}
                                  {{#is id 360005488099}}
                                    <img
                                      src="{{asset "icon-my-account.png"}}"
                                      alt="{{name}}"
                                    />
                                  {{else}}
                                    {{#is id 360005488119}}
                                      <img
                                        src="{{asset
                                          "icon-parcel-received.png"
                                        }}"
                                        alt="{{name}}"
                                      />
                                    {{else}}
                                      {{#is id 360005448520}}
                                        <img
                                          src="{{asset "icon-paying.png"}}"
                                          alt="{{name}}"
                                        />
                                      {{else}}
                                        {{#is id 360005488139}}
                                          <img
                                            src="{{asset
                                              "icon-cancellation.png"
                                            }}"
                                            alt="{{name}}"
                                          />
                                        {{else}}
                                          <img
                                            src="{{asset "icon-other.png"}}"
                                            alt="{{name}}"
                                          />
                                        {{/is}}
                                      {{/is}}
                                    {{/is}}
                                  {{/is}}
                                {{/is}}
                              {{/is}}
                            {{/is}}
                          {{/is}}
                        {{/is}}
                      {{/is}}
                    {{/is}}
                  {{/is}}
                {{/is}}
              </div>
              <span class="block-title">{{name}}</span>
            </a>
          </li>
        {{/each}}
      </ul>
    </section>
  {{/each}}
</div>