<header class="header blue">
  <div class="header-content">
    {{#link 'help_center'}}
    <div class="logo header-button">
      <img src="{{asset 'logo.png'}}" alt="{{t 'home_page' name=help_center.name}}" class="hide-desktop" />
      <img src="{{asset 'logo-horizontal.png'}}" alt="{{t 'home_page' name=help_center.name}}" class="hide-mobile" />
    </div>
    {{/link}}
  </div>
  <div class="search">
    <div class="content">
      <h1>{{dc 'hc_search_title'}}</h1>
      <p>{{dc 'hc_search_subtitle'}}</p>
      {{search submit=true instant=settings.instant_search class='search-form'}}
    </div>
  </div>
</header>

<navigation class="content navigation">
  <section class="inner-content">
    <div class="back-button hide-desktop" id="back-button">
      <img src="{{asset 'back-arrow.png'}}" alt="{{t 'home_page' name=help_center.name}}" />
    </div>
    <div class="hide-mobile">
      {{breadcrumbs}}
    </div>
  </section>
</navigation>

{{#if article_results}}
<div class="content">
  <section class="inner-content">
    <h1>{{t 'results' query=query count=results_count}}</h1>
    <ul class="list">
      {{#each article_results}}
      <li>
        <a href='{{url}}'>{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </section>
</div>
{{/if}}

<div class="content">
  <div class="inner-content">
    {{pagination}}
  </div>
</div>