<header class="header">
  <div class="header-content">
    {{#link 'help_center'}}
    <div class="logo header-button">
      <img src="{{asset 'logo.png'}}" alt="{{t 'home_page' name=help_center.name}}" class="hide-desktop" />
      <img src="{{asset 'logo-horizontal.png'}}" alt="{{t 'home_page' name=help_center.name}}" class="hide-mobile" />
    </div>
    {{/link}}
    <div class="show-search header-button" id="show-search">
      <img src="{{asset 'search.png'}}" alt={{t 'search'}} />
    </div>
  </div>
</header>

<navigation class="content navigation">
  <section class="inner-content">
    <div class="back-button hide-desktop" id="back-button">
      <img src="{{asset 'back-arrow.png'}}" alt="{{t 'home_page' name=help_center.name}}" />
    </div>
    <div class="hide-mobile">
      {{breadcrumbs}}
    </div>
  </section>
</navigation>

<div class="content">
  <section class="inner-content">
    <h1>{{section.name}}</h1>
    <ul class="list">
      {{#each section.articles}}
      <li>
        <a href='{{url}}'>{{title}}</a>
      </li>
      {{/each}}
    </ul>
  </section>
</div>

<div class="content">
  <div class="inner-content">
    {{pagination}}
  </div>
</div>

<div class="content">
  <div class="inner-content">
    <h3>{{dc 'hc_contact_button_title'}}</h3>
    <div class="section-contact-button uw-button">
      {{#link 'new_request'}}
      {{dc 'hc_contact_button_label'}}
      {{/link}}
    </div>
  </div>
</div>